[submodule "api-skeleton"]
	path = api-skeleton
	url = https://github.com/EastCoastProduct/api-skeleton.git
[submodule "web-skeleton"]
	path = web-skeleton
	url = https://github.com/EastCoastProduct/web-skeleton.git
[submodule "super-admin-skeleton"]
	path = super-admin-skeleton
	url = https://github.com/EastCoastProduct/super-admin-skeleton.git
[api-skeleton "https://github.com/eastcoastproduct/api-skeleton"]
	master = master
[web-skeleton "https://github.com/eastcoastproduct/web-skeleton"]
	master = master
[super-admin-skeleton "https://github.com/eastcoastproduct/super-admin-skeleton"]
	master = master
